<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/LoginRegister.css') }}">
    <title>Forgot Password</title>
</head>
<body>
<div class = "container">
    <nav class = "menu">
            <ul class = "navbar">
                <li><a href = "/">Home</a></li>
                <li><a href = "/NFTSearch">Search NFT</a></li>
                <li><a href = "/login">Login</a></li>
                <li><a href = "/register">Start for Free</a></li>
            </ul>
        </nav>
</div>
    <div class="container1">
        <h1 style = "color: rebeccapurple">Password recovery</h1>
        <hr style = "border-color: mediumpurple">
        <p></p>
        <form action="/forgot" method="post">
            <label for = "email">E-mail</label>
            <input type = "email" name = "email" id = "email" placeholder="Please write your email">
            <button type = "submit">Send code to your Email</button>
        </form>
        <form action="/code">
            <button type = "submit">Back</button>
        </form>
    </div>
</body>
</html>