<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href=" {{ url_for('static', filename = 'css/Home.css') }}">
    <title>Home</title>
</head>
<body>
    <div class = "container">
        <nav class = "menu">
            <ul class = "navbar">
                <li><a href = "/">Home</a></li>
                <li><a href = "/NFTSearch">Search NFT</a></li>
                <li><a href = "/login">Login</a></li>
                <li><a href = "/register">Start for Free</a></li>
            </ul>
        </nav>
        <hr style="color: white">
        <h1 style="text-align: center; color: #e27d60; margin-top: 2%; width: 40%"><strong>About this App</strong></h1>
        <h2 style = "color: white; margin: 100px 0 0 200px; width: 40%">Our program is engaged in searching for your NFT address NFT</h2>
        <h2 style="color:white; margin: 10px 0 0 200px; width: 40%">and displays all the information on it. To use this feature,</h2>
        <h2 style="color: white; margin: 10px 0 0 200px;">you should register or log in to your account.</h2>
        <img src = "/static/images/Home.png" style="margin: -200px 0 0 1000px">
        <img src = "/static/images/strelka.png" style="margin: -150px 0 -30px 900px; width: 20%; ">
        <img src = "/static/images/Example.png" style="width: 20%; margin: 0 0 0 600px;">
        <h2 style = "color:white; margin: 50px 0 0 200px; width: 40%">Created by © Arman 2022</h2>
    </div>
</body>
</html>