<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/LoginRegister.css') }}">
    <title>New Password</title>
</head>
<body>
  <div class="container1">
        <h1 style = "color: rebeccapurple">New Password</h1>
        <hr style = "border-color: mediumpurple">
        <p></p>
        <form action="/newPassword" method="post">
            <label for = "Password">New password</label>
            {%for message in get_flashed_messages()%}
					<span style="color:red">{{message}}</span>
				{%endfor%}
            <input type = "password" name = "password" id = "Password" placeholder="Please write your password">
            <label for = "Password1">Confirm password</label>
            <input type = "password" name = "confirm" id = "Password1" placeholder="Confirm">
            <button type = "submit">Update password</button>
        </form>
    </div>
</body>
</html>