<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/LoginRegister.css') }}">
    <title>NFT Search</title>
</head>
<body>
<div class = "container">
        <nav class = "menu">
            <ul class = "navbar">
                <li><a href = "/">Home</a></li>
                <li><a href = "/logout">Logout</a></li>
            </ul>
        </nav>
    <div style="text-align: center; margin-top: 10%">
    <form action = "/info" method = "post" class = "form-signin">
        <input type = "text" name = "address" placeholder="NFT address">
        <button type = "submit" style="width: 110%">Search</button>
    </form>
</div>
</div>
</body>
</html>